.git
.gitignore
node_modules
**/node_modules
backend/vendor
**/vendor
frontend/dist
backend/storage/logs/*
backend/storage/framework/cache/*
backend/storage/framework/sessions/*
backend/storage/framework/views/*
backend/storage/app/backups
*.sql
*.log
.env
backend/.env
frontend/.env
README.md
*.md
*.html
*.xlsx
iniciar-sagi.bat
